.productBox{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1vh 10vw;
    padding: 5px;
    border: solid black thin;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bio .modelBox{
    display: grid;
    grid-template-columns: 25% 75%;
}

.modelBox .name{
    display: block;
    margin: auto;
    width: 90%;
    color: white;
    background-color: rgb(78, 78, 78);
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    font-size: 18px;
}

.modelBox .nameBrand{
    background-color: darkred;
    color: white;
    border-radius: 5vw;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin: 0px;
    font-size: 18px;
}

.image{
    display: block;
    margin: 1vh auto;
    width: 80%;
    height: 30vh;
}

.price{
    text-align: center;
}

.add{
    display: block;
    margin: auto;
}

.productBox .specs{
    border-left:  dashed black thin;
}

.specs .item{
    margin: 1vh 0.5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: double black thick  ;
    text-align: center;
}

.item p{
    margin: 0px;
    padding: 10px;
}

.item p:hover{
    background-color: aliceblue;
    cursor: pointer;
}

.item .secondary{
    border-left: dashed black thin;
}   

.quantity{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quantity button{
    padding: 0px 1vw;
}

.qtyMeter{
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

.deleteSelf{

    display: block;
    background-color: white;
    border: none;
    margin: 1vh auto;
    padding: 10px 15px;
    border-radius: 5px;
    border: solid black thin;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px;
}

.deleteSelf:hover{
    color: white;
    background-color: darkred;
    cursor: pointer;
}