@font-face {
    font-family: Monserrat;
    src: url(../../fonts/Montserrat-VariableFont_wght.ttf);
}

.wrapper{
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.title{
    display: block;
    background-color: darkgreen;
    color: white;
    width: fit-content;
    margin: 1vh auto;
    padding: 1px 5vw;
    text-align: center;
    grid-column: span 4;
    user-select: none;

    border-radius: 25px;
    font-family: Monserrat;
}